@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Bold.ttf');
  src: local('Quicksand Bold'), local('Quicksand-Bold');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Light.ttf');
  src: local('Quicksand Light'), local('Quicksand-Light');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Medium.ttf');
  src: local('Quicksand Medium'), local('Quicksand-Medium');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Regular.ttf');
  src: local('Quicksand Regular'), local('Quicksand-Regular');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-SemiBold.ttf');
  src: local('Quicksand SemiBold'), local('Quicksand-SemiBold');
  font-weight: 600;
  font-style: normal;
}
